{% extends "header.html" %} {% block content %}
<div class="guide">
    <ul class="gray horizontal">
        <li><a href="javascript:void(0)">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile">{{ name }}</a></li>
    </ul>
</div>
<div class="classlist">
    <h1>Class list</h1>
    <b>Students in this class:</b><br>
        {% for student in students%}
            <td>
                <a>{{student.getFirstName()}} {{student.getLastName()}}</a>
                <br>
            </td>
        {% endfor %}
</div>
{% endblock %}