{% extends "navbar.html" %} {% block content %}

<div class="home-page">
    <div class="column">
    <div class ="row">
        <a href="/projects"><img src="static/img/tree1.png"/></a>
        <h1>Team A</h1>
        <h2>50%</h2>
    </div>
    <div class ="row">
        <a href="/projects"><img src="static/img/tree2.png"/></a>
        <h1>Team B</h1>
        <h2>50%</h2>
    </div>
    <div class ="row">
        <a href="/projects"><img src="static/img/tree3.png"/></a>
        <h1>Team C</h1>
        <h2>50%</h2>
    </div>
    <div class ="row">
        <a href="/projects"><img src="static/img/tree4.png"/></a>
        <h1>Team D</h1>
        <h2>50%</h2>
    </div>
</div>
</div>
{% endblock %}