{% extends "header.html" %} {% block content %}

<section class="schedule" id="schedule">
    <div class="container">
        <h1>Project One</h1>
        <a href="#sat" class="button1" data-toggle="collapse"><b>Branch One</b></a>
        <div id="sat" class="collapse close">
            <br>
            <table id="satTable">
                <tr>
                    <th>Task Asignee</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Person 1</td>
                    <td>Desc 1</td>
                </tr>
            </table>
            <br>
        </div>
        <p></p>
    </div>
</section>
{% endblock %}