{% extends "header.html" %} {% block content %}
<div class="guide">
    <ul class="gray horizontal">
        <li><a href="/home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="javascript:void(0)">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile">{{ name }}</a></li>
    </ul>
</div>
<div class="task-page">
    <h1>Welcome to the Task Page</h1>
    <div class="tasks">
        <div class="files">
            <h2>List of Files</h2>
            <div class="list-files">
                <ul class="vertical">
                    {% for file in files%}
                    <li>
                        <a href="{{file.getFileLocation()}}" download>{{file.getFileName()}}</a>
                        <br>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <form action="/task" method=post enctype=multipart/form-data>
            <div class="uploadDiv">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button type="submit" value=Upload class="input-group-text" style="margin-top: 0px;" id="inputGroupFileAddon01">Upload</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="fileType" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            </form>

        </div>
        <div class="chat-box">
            <h2>Chat Messages</h2>
            <div class="chat">
                {% for message in messages%}
                <div class="message">
                    <h3>{{message.getStudentID()}}</h3>
                    <p>{{message.getMessageString()}}</p>
                    <span class="time-right">{{message.getTimeStamp()}}</span>
                </div>
                {% endfor %}
            </div>
            <div class="chat-message">
                <input class="chat-input" type="text" placeholder="enter your message" />
                <button type="submit">Send</button>
            </div>
        </div>
    </div>

</div>
{% endblock %}