/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);

/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.title {
  color: green;
}

body{
  background: #E4EDE7;
}

.column{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1, h2{
  font-family: 'Open Sans';
  text-align: center;
  color: rgb(30, 39, 30);
}
