{% extends "header.html" %} {% block content %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/award.css') }}"
/>
<div class="container overflow-auto">
    <h1><u>Award apples</u></h1>
    
    <form action="/awardapples" method="POST">
        <ul>
            <!-- <li>
                <div class="award-candidate">
                    <p><b>john : 1</b></p>
                    <div style="float: right;">
                        <label><input type="radio" id="male" name="1" value="Golden"><img src="/static/img/Golden.png"></label>
                        <label><input type="radio" id="male" name="1" value="Silver"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                        <label><input type="radio" id="male" name="1" value="Red"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                        <label><input type="radio" id="male" name="1" value="Rotten"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                    </div>
                </div>
            </li> -->
            {% for student in visibleStudents%}
                <li>
                    <div class="award-candidate">
                        <p>{{student.getFirstName()}} : {{student.getStudentID()}}</p>
                        <div style="float: right;">
                            
                            <label><input type="radio" id="male" name="{{student.getStudentID()}}" value="Golden"><img src="/static/img/Golden.png"></label>
                            <label><input type="radio" id="male" name="{{student.getStudentID()}}" value="Silver"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                            <label><input type="radio" id="male" name="{{student.getStudentID()}}" value="Red"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                            <label><input type="radio" id="male" name="{{student.getStudentID()}}" value="Rotten"><img src="http://placehold.it/40x60/0bf/fff&text=A"></label>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <button type="submit" value="Submit">Submit Apple Awards</button>
    </form>

</div>
{% endblock %}