{% extends "header.html" %} {% block content %}
<div class="container overflow-auto">
    <h1><u>Class list</u></h1>
    {% for project in projects%}
        <b>Project:</b> {{project.getProjectDesc()}}</p>
        {% for student in students%}
            {% if student.getProjectID() == project.getProjectID() %}
            <div class="row align-items-start">
                <a href="/profile/?profileID={{student.getStudentID()}}">{{student.getFirstName()}} {{student.getLastName()}}</a>
                <br>
            </div>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
</div>
{% endblock %}