{% extends "header.html" %} {% block content %}
<div class="guide">
    <ul class="gray horizontal">
        <li><img style="margin: 10px; float: right; width: 30px; height: 30px;" src="/static/img/grove_icon.png"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/projects/?projectID={{projectID}}">Projects</a></li>
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile/?profileID={{profileID}}">{{ name }}</a></li>
    </ul>
</div>
<div class="container overflow-auto">
    <h1><u>Class list</u></h1>
    {% for student in students%}
    <div class="row align-items-start">
        <a href="/profile/?profileID={{student.getStudentID()}}">{{student.getFirstName()}} {{student.getLastName()}}</a>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}