<html>
<!-- Global style sheet here -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/static/json/manifest.json">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /> -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#E4EDE7">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link rel="icon" href="/static/img/grove_icon.png">
    <!-- <script src="/scripts/scripts.js"></script> -->
  </head>
  <body>
    {% if not loggedInUser %}
    <div class="guide">
        <ul class="gray horizontal">
            <li><a style="padding: 4px; padding-left: 6px; height: 100%;" href="/home"><img style="float: right; width: 40px; height: 40px;" src="/static/img/grove_icon.png"></a></li>
            {% if session['user_type'] == "STUDENT"%}
                <li><a href="/projects/?projectID={{projectID}}">Projects</a></li>
            {% endif %}
            <li><a href="/classlist">Classlist</a></li>
            <li><a href="/award">Award Apples</a></li>
            <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
            {% if session['user_type'] == "STUDENT"%}
                <li class="rightli" style="float:right"><a href="/profile/?profileID={{profileID}}">{{ name }}</a></li>
            {% endif %}
            {% if session['user_type'] == "TEACHER"%}
                <li class="rightli" style="float:right"><a href="/teacherconsole">{{ name }}</a></li>
            {% endif %}
        
        </ul>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
</body>

</html>