{% extends "header.html" %} {% block content %}
<div class="guide">
    <ul class="gray horizontal">
        <li><img style="margin: 10px; float: right; width: 30px; height: 30px;" src="/static/img/grove_icon.png"></li>
        <li><a href="javascript:void(0)">Home</a></li>
        {% if studentID and teacherID %} <li><a href="/projects">Projects</a></li> {% endif %}
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        {% if studentID == None %} <li class="rightli" style="float:right"><a href="/teacherconsole">Teacher Console</a></li> {% endif %}
        {% if studentID and teacherID %} <li class="rightli" style="float:right"><a href="/profile/?profileID={{profileID}}">{{ name }}</a></li> {% endif %}
    </ul>
</div>
<div class="home-page">
    <h1>Welcome to Grove</h1>
    <div class="row">
        {% for project in projects %}
        <div class="column">
            {% if project.getGrowthStatus() == "growth0" %}
                <a href="/projects"><img src="static/img/tree1.png" /></a>
                <h1>Team {{project.getProjectID()}}</h1>
                <h2>0%</h2>
            {% endif %}
            {% if project.getGrowthStatus() == "growth1" %}
                <a href="/projects"><img src="static/img/tree2.png" /></a>
                <h1>Team {{project.getProjectID()}}</h1>
                <h2>25%</h2>
            {% endif %}
            {% if project.getGrowthStatus() == "growth2" %}
                <a href="/projects"><img src="static/img/tree3.png" /></a>
                <h1>Team {{project.getProjectID()}}</h1>
                <h2>50%</h2>
            {% endif %}
            {% if project.getGrowthStatus() == "growth3" %}
                <a href="/projects"><img src="static/img/tree4.png" /></a>
                <h1>Team {{project.getProjectID()}}</h1>
                <h2>75%</h2>
            {% endif %}
            {% if project.getGrowthStatus() == "growth4" %}
                <a href="/projects"><img src="static/img/tree5.png" /></a>
                <h1>Team {{project.getProjectID()}}</h1>
                <h2>100%</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}