{% extends "header.html" %} {% block content %}
<!-- Example of how to dynamically create front end -->
<!-- {% for student in students%}
    <li>{{ student.getStudentID() }} {{ student.getFirstName() }}</li>
    {% endfor %} 
</div>-->
<h1 class="title">Welcome to Grove!<br> {{ loggedInUser }}</h1>
<div class="homepage-container">
    <div>
        <form action="/" method="POST">
            <!--<div text-align="center">
                <img src="/static/img/grove.png" alt="grove logo">
            </div>-->
            <div class="container">
                <h2>Login</h2>

                <label for="username"><b>Username</b></label>
                <input type="text" style="width:100%;" placeholder="Enter Username" name="username" required> <br>

                <label for="password"><b>Password</b></label>
                <input type="password" style="width:100%;" placeholder="Enter Password" name="password" required> <br>

                <button type="submit">Login</button>
                <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
            </div>

            <!--<div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>-->
        </form>
    </div>
    <div>
        <img style="height: 462px; width: 462;" class="homepage-logo" src="/static/img/grove_icon.png" alt="Grove Icon">
    </div>
</div>
<!-- <div class="homepage-container">
    
</div> -->
{% endblock %}