{% extends "header.html" %} {% block content %}
<!--This is the navbar-->
<h1 style="font-size: 30pt">Welcome to {{ targetProfileName }}!</h1>
<div align="center">
    <table>
        <td style="border-spacing: 10px;">
            <div class="container" style="width: 200px;">
                <p style="font-size:22px"><b>Branches</p></b>
                <ul>
                    {% for branch in branches%}
                    <li><a href="/projects/?projectID={{targetProjectID}}">{{branch.getBranchDesc()}}</a></li>
                    <br> {% endfor %}
                </ul>
                <p style="font-size:22px"><b>Tasks</p></b>
                <ul>
                    {% for task in tasks%}
                    <li><a href="/task/?taskID={{task.getTaskID()}}">{{task.getTaskDesc()}}</a></li>
                    <br> {% endfor %}
                </ul>
            </div>
        </td>
        <td style="border-spacing: 10px;">
            <div class="container overflow-auto" style="width: 800px;">
                <h2>Fruits</h2>
                <div class="row align-items-start">
                    {% for award in awards%}
                    <div class="col" style="display: grid;">
                        <img width="100" height="100" src="/static/img/{{award.getAppleType()}}.png">
                        <b style="font-size:11px">{{award.getProjectName()}}</b>
                        <p style="font-size:11px">{{award.getDateAwarded()}}</p>
                    </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </td>
    </table>
</div>


{% endblock %}