{% extends "header.html" %} {% block content %}
<!--This is the navbar-->
<div class="guide" style="margin-bottom:2%;">
    <ul class="gray horizontal">
        <li><img style="margin: 10px; float: right; width: 30px; height: 30px;" src="/static/img/grove_icon.png"></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile/?profileID={{profileID}}">{{ userName }}</a></li>
    </ul>
</div>
<h1 style="font-size: 30pt">Welcome to {{ profileName }}'s Profile!</h1>
<div align="center">
    <table>
        <td style="border-spacing: 10px;">
            <div class="container" style="width: 200px;">
                <h2>Branches</h2>
                <ul>
                    {% for branch in branches%}
                    <li><a href="/projects">{{branch.getBranchDesc()}}</a></li>
                    <br> {% endfor %}
                </ul>
                <h2>Tasks</h2>
                <ul>
                    {% for task in tasks%}
                    <li><a href="/task/?taskID={{task.getTaskID()}}">{{task.getTaskDesc()}}</a></li>
                    <br> {% endfor %}
                </ul>
            </div>
        </td>
        <td style="border-spacing: 10px;">
            <div class="container overflow-auto" style="width: 800px;">
                <h2>Fruits</h2>
                <div class="row align-items-start">
                    {% for award in awards%}
                    <div class="col">
                        <img width="100" height="100" src="/static/img/{{award.getAppleType()}}.png">
                        <b style="font-size:11px">{{award.getProjectName()}}</b>
                        <p style="font-size:11px">{{award.getDateAwarded()}}</p>
                    </div>
                    {% endfor %}
                </div>
                <br>
            </div>
        </td>
    </table>
</div>


{% endblock %}