{% extends "header.html" %} {% block content %}
<div class="guide">
    <ul class="gray horizontal">
        <li><a href="/home">Home</a></li>
        <li><a href="javascript:void(0)">Projects</a></li>
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile">{{ name }}</a></li>
    </ul>
</div>
<h1>Project Branches</h1>
<br>
<div class="projects-page">
    <div class="projectdeets" style="text-align: center;">
        {% if perm == "perm0" %}
        <h2>Welcome, Prof. {{ name }}!</h2>
        {% endif %}
        <!-- add correct perm when those are sorted lol ...--->
        {% if teach and proj %}
        <h1>{{proj.getProjectName()}}</h1>
        <h3>Project Goal: {{ proj.getProjectDesc() }}. </h3>
        {% endif %}
    </div>
    <div class="branches">
        {% for branch in branches%}
        <div style="box-sizing: border-box; display: inline-block; width: 30%; vertical-align: top;">
            <h1>{{branch.getBranchDesc()}}</h1>
            {% for studentID in branch.getStudents() %}
            <b>{{ studentsOnProject[studentID].getFirstName()}}</b> {% endfor %} {% if branch.getBranchID() in tasksPerBranch%} {% for task in tasksPerBranch[branch.getBranchID()]%}
            <td>
                <div class="micro-task-description">
                    <h1>{{task.getTaskDesc()}}</h1>
                    <a style="border-left: 4px solid black;" href="task?taskID={{task.getTaskID()}}"><b>&nbsp;Go to task page</b></a>
                </div>
            </td>
            {% endfor %} {% endif%}

            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        <form action="/projects" method=post>
                aria-hidden="true">
                <div class="modal-content">
                <div class="modal-dialog" role="document">
                    <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add a new Task</h4>
                        <span aria-hidden="true">&times;</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    </div>
                    </div>
                        <input name="definition" class="form-control validate" >
                        <label data-error="wrong" data-success="right" for="defaultForm">Task Definition</label>
                    <div class="md-form mb-4">
            
                    </div>
                    <div class="modal-body mx-4">
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="defaultForm">Task Title</label>
                        <input name="title" class="form-control validate" >

                    <div class="md-form mb-4">
                        <input name="user" class="form-control validate" >
                        <label data-error="wrong" data-success="right" for="defaultForm">Id of User to Assign</label>
                    </div>

                    </div>
                        <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="text-center">
                <a href="" class="btn btn-success btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Add a LEAF</a>
            </div>
            <!--<a style="border-left: 4px solid black;" href="javascript:void(0);"><b>&nbsp;Add</b></a> --->

        </div>
        {% endfor %}
        </form>
        <br> {% if teach and proj %}
        <button type="button" id="branchRev">Request Branch & Task Review</button> {% endif %} {% if perm == "perm0" %}
        <button type="button" id="btnAddCol">Add Branch</button>
        </br>
        <button type="button" id="btnAdd">Add Task</button>
        </br>
        <button type="button" id="branchUpdate">Update Branches & Tasks</button>
        </br>
        {% endif %}
    </div>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script lang="js">
        $(document).ready(function() {
            $('#btnAdd').click(function() {
                var count = 1,
                    first_row = $('#branch-content');
                while (count-- > 0) first_row.clone().appendTo('#branch-grid');
            });
            var myform = $('#myform'),
                iter = 6;
            $('#btnAddCol').click(function() {
                myform.find('tr').each(function() {
                    var trow = $(this);
                    if (trow.index() === 0) {
                        trow.append('<td><b>Branch' + " " + +iter + '</b></td>');
                    } else {
                        trow.append('<td><input type="text" placeholder="Task ' +
                            iter +
                            '" /> <a style="border-left: 4px solid black;" href="/task"><b>&nbsp;View Task</b></a></td>'
                        );
                    }
                });
                iter += 1;
            });
        });
    </script>
    </form>
</div>
{% endblock %}