{% extends "header.html" %} {% block content %}
<script>
function deleteFile(fname) {
    const form = document.createElement('form');
    form.method = 'post';
    form.action = '/task/{{taskID}}';
    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'filename';
    hiddenField.value = fname;
    form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}
</script>
<div class="guide">
    <ul class="gray horizontal">
        <li><a href="/home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/classlist">Classlist</a></li>
        <li class="rightli" style="float:right"><a href="/logout">Logout</a></li>
        <li class="rightli" style="float:right"><a href="/profile/?profileID={{profileID}}">{{ name }}</a></li>
    </ul>
</div>
<div class="task-page">
    <div class="task-description">
        <p>{{taskObj.getTaskDesc()}}</p>
        <p>Assigned to: {{taskAssignee.getFirstName()}}</p>
        {% if taskObj.getResolved() %}
            <p>(Resolved)</p>
        {% endif %}
    </div>
    <div class="tasks">
        <div class="files">
            <h2>List of Files</h2>
            <div class="list-files">
                <ul class="vertical">
                    {% for file in files%}
                    <li>
                        <a href="{{file.getFile()}}" download>{{file.getFileName()}}</a>
                        <input type="image" align="right" style="padding-top: 10px;padding-right: 10px;" height=40px src="/static/img/delete-icon.png" onclick="deleteFile('{{file.getFileName()}}');">
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <form action="/task/{{taskID}}" method=post enctype=multipart/form-data>
                <div class="uploadDiv">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="submit" value=Upload class="input-group-text" style="margin-top: 0px;" id="inputGroupFileAddon01">Upload</button>
                        </div>
                        <div class="custom-file">
                            <input type="file" name="fileType" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="chat-box">
            <h2>Chat Messages</h2>
            <div class="chat">
                {% for message in messages%} {%if message.getUserName() == name %}
                <div class="message darker">
                    <h3>{{message.getUserName()}}</h3>
                    <p>{{message.getMessageString()}}</p>
                    <span class="time-right">{{message.getTimeStamp()}}</span>
                </div>
                {% else %}
                <div class="message">
                    <h3>{{message.getUserName()}}</h3>
                    <p>{{message.getMessageString()}}</p>
                    <span class="time-right">{{message.getTimeStamp()}}</span>
                </div>
                {% endif %} {% endfor %}
            </div>
            <form action="/task/{{taskID}}" method=post>
                <div class="chat-message">
                    <input class="chat-input" type="text" name="message" placeholder="enter your message" />
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}