{% extends "header.html" %} {% block content %}
<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/teacherconsole.css') }}"
    />
<h1>Teacher Console</h1>
<br>
<div class="projects-page">
    <div class="projectdeets" style="text-align: center;">
        <h2>Welcome, Prof. {{ name }}!</h2>
    </div>
    <div class="teacherconsole-actionarea">
        <div class="add-student">
            <!-- <form action="/addstudent/" action=post enctype=multipart/form-data>
                <label for="studentFName"><b>Enter Student Information to Add</b></label>
                <input type="text" placeholder="Enter student's first name" name="studentFName" required>
                <input type="text" placeholder="Enter student's last name", name="studentLName" required>
                <button type="submit">Add student</button>
            </form> -->
            <form action="/addstudent/" method=post enctype=multipart/form-data>
                <div class="input-group">
                    <label for="studentFName"><b>Enter Student Information to Add</b></label>
                    <input type="text" placeholder="Enter student's first name" name="studentFName" required>
                    <input type="text" placeholder="Enter student's last name", name="studentLName" required>
                    <input type="text" placeholder="Enter the project id to assign the student to", name="projectID" required>
                    <button type="submit">Add student</button> 
                </div>
            </form>
        </div>
        <div class="taskstoreview">
            <h2>Tasks To Review</h2>
            <ul>
                {% for task in tasksToReview%}
                {% if task.getResolved() == 0%}
                <li><a href="/task/?taskID={{task.getTaskID()}}">{{database.getTask(task.getTaskID()).getTaskDesc()}}</a></li>
                <br> 
                {% endif %}{% endfor %}
            </ul>
        </div>
        <div class="project-list">
            <label for="studentFName"><b>List of Projects</b></label></p>
            {% for project in projects%}
                <a href="/projects/?projectID={{project.getProjectID()}}">{{project.getProjectName()}}</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}